@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

h1 {
    text-align: center;
    margin: 3vw;
}

h1:hover {
    transform: scale(1.1);
    transition: 0.7s;
    text-shadow:
    0 0 10px,
    0 0 20px,
    0 0 40px;
}

.container {
    text-align: center;
    border: solid;
    background-color: #000;
    color: #ffff;
    border-radius: 1vw 20vw;
}

.container:hover {
    box-shadow:
    0 0 10px,
    0 0 20px,
    0 0 40px ;
}

img {
    border-radius: 1vw 20vw 1vw ;
    margin: 10px;
    padding: 20px;
    object-fit: cover;
}

img:hover {
    box-shadow:
    0 0 10px,
    0 0 20px,
    0 0 40px ;
    transition: 0.7s;
}

h2 {
    padding: 10px;
    text-shadow:
    0 0 10px,
    0 0 20px,
    0 0 40px;
}

p {
    font-size: 2.5vw;
    margin: 10px;
    text-shadow:
    0 0 10px,
    0 0 20px,
    0 0 40px;
}
